@model Nackowskis.ViewModels.SuccessViewModel

<div id="AddMessage">

    @if (Model.isSuccess)
    {
    <p>You have successfully added the auction</p>
    }

    else
    {
    <p>Something went wrong when adding the auction..</p>
    }

</div>