<div class="header__search">
    <form class="search-form" asp-controller="Search" asp-action="Search" asp-route-searchTerm="">

        <input name="searchTerm" id="searchTerm" type="search" placeholder="Search">
        <button type="submit"><span class="glyphicon glyphicon-search"></span></button>

    </form>

</div>
