<div class="col-sm-3">
    <ul class="nav side-nav">

        <li><a asp-area="" asp-controller="Admin" asp-action="AddAuction">Add Auction</a></li>
        <li><a asp-area="" asp-controller="Admin" asp-action="UpdateDeleteAuction">Update/Delete Auction</a></li>

    </ul>
</div>