.nav-title {
    margin: 0;
}

.navbar-inverse {
    background-color: #FFFCFC;
    box-shadow: 0 1px 20px 0 rgba(0,0,0,.1), 0 1px 4px 0 rgba(0,0,0,.05);

    .navbar-brand {
        color: #5a5a5a;

        &:hover {
            color: #f15c44;
        }
    }



    .navbar-nav {
        li {
            a {
                color: #5a5a5a;
                font-weight: 600;

                &:hover {
                    color: #f15c44;
                }
            }
        }
    }
}

.hero {
    background-image: url('../images/hero.png');
    height: 435px;
    width: 1520px;
    background-size: cover;
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.1), 0 1px 4px 0 rgba(0, 0, 0, 0.05);
    margin-bottom: 3.5em;
}

.side-nav {
    float: left;
    display: block;
}
